:root {
  --primary: rgb(218, 224, 255);
  --primary-text: rgb(218, 224, 255, 0.7);
  --accent: #d770ff;
  --accent-translucent: rgba(214, 112, 255, 0.2);
  --shadow: rgba(0, 0, 0, 0.3);
  --background: rgb(23, 10, 46);
  --background-header: rgba(23, 10, 46, 0.85);

  --default-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --code-font: 'Fira Code', Monaco, monospace;

  color-scheme: light dark;
  color: var(--primary);
  background-color: var(--background);

  font-family: var(--default-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

p {
  margin-top: 0;
  line-height: 140%;
  color: var(--primary-text);
}

code {
  color: var(--accent);
  font-family: var(--code-font);
}

a {
  color: var(--accent);
  text-decoration: none;
  display: inline-block;
  position: relative;
}

body {
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}

.button-link {
  border-radius: 8px;
  border: 1px solid var(--accent);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  color: var(--primary);
  cursor: pointer;
  transition: background-color 0.25s;
}
.button-link:hover {
  background-color: var(--accent-translucent);
}
.button-link:focus,
.button-link:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--accent-translucent);
}

input {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid var(--accent);
  background-color: var(--accent-translucent);
  border-radius: 0.5rem;
  font-size: 1rem;
  width: 100%;
}

#app {
  width: 100%;
}

#app {
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
