:root {
  --primary: rgb(218, 224, 255);
  --primary-text: rgb(218, 224, 255, 0.8);
  --accent: #d770ff;
  --shadow: rgba(0, 0, 0, 0.3);
  --background: rgb(23, 10, 46);
  --background-header: rgba(23, 10, 46, 0.85);
  font-family: Roboto, sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 24px;

  color-scheme: light dark;
  color: var(--primary);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: var(--accent);
  text-decoration: none;
  display: inline-block;
  position: relative;
}
.text-link {
  inherits: a;
  display: inline-block;
  position: relative;
}

.text-link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--accent);
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}

.text-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.icon {
  position: relative;
  width: 2rem;
  height: 2rem;
  top: 0;
  color: var(--primary);
  transition: top 0.1s ease-in-out, color 0.1s ease-in-out;
}
.icon:hover {
  top: -6px;
  color: var(--accent);
}

body {
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: 'Product Sans', sans-serif;
  font-size: 4.5em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  width: 100%;
  text-align: start;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
